.AddAndSearch {
    width: 100%;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between
}
@media screen and (max-width:470px) {
    .AddAndSearch {
        display:flex;
        flex-direction : column;
        align-content:space-between;
    }
}
.ProductForAdmin {
    margin-top:10px;
    color:white;
}
.ProductForAdmin div
{
    background:rgba(1,1,1,0.7);
    text-align:center;
    padding:10px 0px;
    box-shadow:rgba(0,0,0,0.4) 3px 3px inset;
}
.Details-Header {
    width:100%;
    height:80px;
    border-bottom:1px solid rgba(0,0,0,0.8);
    text-align:center;
}
.detailsimage {
    width:100%;
    height:100%;
}
.product-info {
    padding:10px;
    color:#fff;
}
.product-info-small-box {
    color:#fff;
    background-color:rgba(0,0,0,0.1);
    display:block;
    padding:3px 0;
    text-align:center;
    text-decoration:none;
    z-index:10;
}
.bg-primary {
    background-color: #0d6efd !important
}
.bg-success {
    background-color: #198754 !important
}
.bg-warning {
    background-color:#ffc107 !important
}
.bg-danger {
    background-color: #dc3545 !important 
}
.imgs-edit {
    display: flex;
    padding: 5px 20px;
}
.img-wrap {
    margin:0px 10px;
    position:relative;
}
.img-wrap .close {
    position:absolute;
    top:2px;
    right:2px;
    z-index:100;
}